body {
    padding-bottom: 20px;
}
.navbar {
    margin-bottom: 20px;
    background-color: #3EA055;
}
header {
    margin-bottom: 30px;
}
h1 {
    color: #2d9214;
}
.border-primary {
    border: 1px solid #024872;
    background-color: #eee;
    margin-bottom: -1px;
}
.act-btn {
    font-size: 1.5em;
}
.row-header {
    font-weight: bold;
    background-color: #ccc;
}
